@layer components {
  /* .link_base {
		@apply transition-all;
	} */

  .link {
    @apply text-blue-600 hover:decoration-current;
    text-decoration: solid underline transparent;
    text-underline-offset: 3px;
    transition-property: all;
    /* transition-timing-function: cubic-bezier(0.1, 0.7, 0, 0); */
    transition-duration: 150ms;
  }

  .link_gray {
    @apply text-gray-700 hover:decoration-current;
    text-decoration: solid underline transparent;
    text-underline-offset: 3px;
    transition-property: all;
    /* transition-timing-function: cubic-bezier(0, 0, 0.6, 0.9); */
    transition-duration: 150ms;
  }
}
