# Outputs
.netlify
.output
.solid
.vercel
.vinxi

dist
netlify

# Environment
# .env
# .env*.local

# Dependencies
node_modules

# IDEs and editors
.classpath
.idea
.project
.vscode

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
