# Environment
.env.local

# Dependencies
node_modules

# IDEs and editors
.classpath
.idea
.project
.vscode
.vs

# Temp
gitignore
.eslintcache

# System Files
.DS_Store
Thumbs.db

# Log
*storybook.log

# Output
dist
