.husky
.idea
.output
.vinxi

dist
node_modules
public
src/assets

# database
packages/database/dbschema/edgeql-js
packages/database/dbschema/interfaces.ts

# web
packages/web/src/style/shadow/shadow_default.css