header {
	@apply text-gray-1000 z-[1] box-border flex w-full justify-center shadow;
}

nav {
	@apply mx-auto;
	display: flex;
	flex-wrap: wrap;
}

nav > ul {
	display: flex;
	align-items: center;
}

nav > ul > li {
	display: flex;
	align-items: center;
}

.logo {
	@apply mx-4;
	display: flex;
	a > strong {
		color: hsl(var(--fg-pri));
		font-size: 1.5rem;
	}
}

.search_input {
	@apply mx-2 h-8 pl-2;
	outline-color: hsl(var(--fg-sec) / 0.5);
	box-sizing: border-box;
	border-width: 0.1rem;
	border-color: transparent;
	transition-duration: 100ms;
	border-radius: 0.125rem;
}
.search_input:hover {
	--tw-ring-color: hsl(var(--fg-sec) / 0.25);
	@apply ring-2;
}
.search_input:focus,
.search_input:focus-visible {
	--tw-ring-color: hsl(var(--fg-sec) / 0.5);
	@apply ring-2;
	/* box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000); */
	/* border-color: hsl(var(--fg-sec) / .5); */
}

.avatarWrapper {
	@apply ml-2 justify-center;
}

.avatar {
	@apply mx-2 h-9 w-9 place-content-center rounded-full bg-gray-400 text-center;
}
