@import "./palette.css";

@layer base {
  :root {
    --black: 0 0% 0%;
    --white: 0 0% 100%;
  }

  html {
    --bg-primary: var(--white);
    --bg-secondary: var(--slate-100);
    --bg-tertiary: var(--white);
    --fg-primary: var(--slate-1100);
    --fg-secondary: var(--slate-700);
    --fg-tertiary: var(--slate-500);
    --default-border-color: var(--slate-300);
    --default-icon-color: var(--slate-500);
  }

  html[data-mode="dark"] {
    --primary: var(--slate-100);
    --secondary: 0 0% 0%;
  }
}
