@layer base {
	:root {
		--blue-100: 206 73% 96%;
		--blue-1000: 215 98% 22%;
		--blue-1100: 218 90% 16%;
		--blue-1200: 224 67% 12%;
		--blue-200: 206 85% 92%;
		--blue-300: 207 100% 88%;
		--blue-400: 209 100% 72%;
		--blue-500: 209 100% 64%;
		--blue-600: 209 89% 55%;
		--blue-700: 209 100% 41%;
		--blue-800: 211 100% 36%;
		--blue-900: 217 75% 33%;
		--gray-100: 0 0 95%;
		--gray-1000: 0 0 20%;
		--gray-1100: 0 0 13%;
		--gray-1200: 0 0 7%;
		--gray-200: 0 0 92%;
		--gray-300: 0 0 87%;
		--gray-400: 0 0 71%;
		--gray-500: 0 0 64%;
		--gray-600: 0 0 56%;
		--gray-700: 0 0 44%;
		--gray-800: 0 0 37%;
		--gray-900: 0 0 29%;
		--green-100: 138 45% 94%;
		--green-1000: 142 100% 12%;
		--green-1100: 141 100% 8%;
		--green-1200: 133 100% 5%;
		--green-200: 132 65% 88%;
		--green-300: 134 73% 80%;
		--green-400: 138 54% 56%;
		--green-500: 143 75% 42%;
		--green-600: 139 71% 37%;
		--green-700: 143 100% 25%;
		--green-800: 138 68% 25%;
		--green-900: 138 69% 20%;
		--marisa-100: 52 59% 92%;
		--marisa-1000: 35 100% 15%;
		--marisa-1100: 36 100% 10%;
		--marisa-1200: 36 100% 6%;
		--marisa-200: 55 66% 84%;
		--marisa-300: 51 75% 75%;
		--marisa-400: 46 65% 53%;
		--marisa-500: 45 76% 45%;
		--marisa-600: 41 89% 38%;
		--marisa-700: 40 100% 29%;
		--marisa-800: 36 86% 28%;
		--marisa-900: 37 100% 21%;
		--reimu-100: 0 65% 97%;
		--reimu-1000: 1 66% 23%;
		--reimu-1100: 359 94% 13%;
		--reimu-1200: 8 100% 8%;
		--reimu-200: 0 100% 95%;
		--reimu-300: 1 100% 92%;
		--reimu-400: 4 100% 79%;
		--reimu-500: 2 100% 73%;
		--reimu-600: 3 90% 63%;
		--reimu-700: 357 65% 48%;
		--reimu-800: 358 67% 41%;
		--reimu-900: 359 66% 32%;
		--slate-100: 220 14% 96%;
		--slate-1000: 215 15% 22%;
		--slate-1100: 217 18% 14%;
		--slate-1200: 216 28% 7%;
		--slate-200: 220 14% 92%;
		--slate-300: 218 13% 88%;
		--slate-400: 215 12% 72%;
		--slate-500: 219 9% 65%;
		--slate-600: 217 8% 57%;
		--slate-700: 215 11% 45%;
		--slate-800: 219 12% 39%;
		--slate-900: 219 11% 30%;
	}

	html,
	html[data-mode="light"] {
		--primary: 0 0 100;
		--secondary: var(--gray-100);
	}

	html[data-mode="dark"] {
		--primary: var(--gray-1200);
		--secondary: var(--gray-1100);
	}
}
