@layer base {
	:root {
		/* global */
		/* color */
		--blue-100: hsl(206 73% 96%);
		--blue-1000: hsl(215 98% 22%);
		--blue-1100: hsl(219 78% 18%);
		--blue-1200: hsl(224 67% 12%);
		--blue-200: hsl(206 85% 92%);
		--blue-300: hsl(207 100% 88%);
		--blue-400: hsl(206 98% 75%);
		--blue-500: hsl(206 100% 60%);
		--blue-600: hsl(206 97% 48%);
		--blue-700: hsl(209 100% 41%);
		--blue-800: hsl(211 100% 36%);
		--blue-900: hsl(217 75% 33%);
		--gray-100: hsl(0 0 95%);
		--gray-1000: hsl(0 0 20%);
		--gray-1100: hsl(0 0 15%);
		--gray-1200: hsl(0 0 7%);
		--gray-200: hsl(0 0 92%);
		--gray-300: hsl(0 0 87%);
		--gray-400: hsl(0 0 76%);
		--gray-500: hsl(0 0 64%);
		--gray-600: hsl(0 0 54%);
		--gray-700: hsl(0 0 44%);
		--gray-800: hsl(0 0 37%);
		--gray-900: hsl(0 0 29%);
		--green-100: hsl(138 45% 94%);
		--green-1000: hsl(142 100% 12%);
		--green-1100: hsl(143 100% 9%);
		--green-1200: hsl(133 100% 5%);
		--green-200: hsl(132 65% 88%);
		--green-300: hsl(134 73% 80%);
		--green-400: hsl(137 61% 61%);
		--green-500: hsl(143 75% 42%);
		--green-600: hsl(140 76% 35%);
		--green-700: hsl(143 100% 25%);
		--green-800: hsl(138 68% 25%);
		--green-900: hsl(138 69% 20%);
		--marisa-100: hsl(52 59% 92%);
		--marisa-1000: hsl(35 100% 15%);
		--marisa-1100: hsl(35 100% 10%);
		--marisa-1200: hsl(36 100% 6%);
		--marisa-200: hsl(55 66% 84%);
		--marisa-300: hsl(51 75% 75%);
		--marisa-400: hsl(46 73% 58%);
		--marisa-500: hsl(45 76% 45%);
		--marisa-600: hsl(42 97% 36%);
		--marisa-700: hsl(40 100% 29%);
		--marisa-800: hsl(36 86% 28%);
		--marisa-900: hsl(37 100% 21%);
		--reimu-100: hsl(0 65% 97%);
		--reimu-1000: hsl(1 66% 23%);
		--reimu-1100: hsl(356 82% 15%);
		--reimu-1200: hsl(8 100% 8%);
		--reimu-200: hsl(0 100% 95%);
		--reimu-300: hsl(1 100% 92%);
		--reimu-400: hsl(3 100% 83%);
		--reimu-500: hsl(1 100% 73%);
		--reimu-600: hsl(2 82% 62%);
		--reimu-700: hsl(357 65% 48%);
		--reimu-800: hsl(358 67% 41%);
		--reimu-900: hsl(359 66% 32%);
		--slate-100: hsl(220 14% 96%);
		--slate-1000: hsl(215 15% 22%);
		--slate-1100: hsl(220 15% 15%);
		--slate-1200: hsl(225 21% 7%);
		--slate-200: hsl(228 12% 92%);
		--slate-300: hsl(223 11% 88%);
		--slate-400: hsl(215 15% 77%);
		--slate-500: hsl(212 10% 65%);
		--slate-600: hsl(217 8% 55%);
		--slate-700: hsl(220 9% 45%);
		--slate-800: hsl(221 11% 39%);
		--slate-900: hsl(221 10% 30%);
	}

	html,
	html[data-mode="light"] {
		--primary: 0 0 100;
		--secondary: var(--gray-100);
	}

	html[data-mode="dark"] {
		--primary: var(--slate-900);
		--secondary: 0 0 0;
	}
}
