@import "./style/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: hsl(var(--gray-1000));
	background-color: hsl(var(--primary));
	white-space: break-spaces;
	font-family:
		"Geist",
		-apple-system,
		"Noto Sans SC",
		BlinkMacSystemFont,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Segoe UI",
		system-ui,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

html[data-mode="dark"] {
	color: white;
}

body {
	height: 100%;
}

#app {
	height: 100%;
}

select {
	&:disabled {
		background-color: hsl(var(--secondary));
	}
}
