@import "./style/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: hsl(var(--gray-1000));
	background-color: hsl(var(--bg-primary));
	white-space: break-spaces;
	font-family:
		"Geist",
		-apple-system,
		"Noto Sans SC",
		BlinkMacSystemFont,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Segoe UI",
		system-ui,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

.notransition *  {
	transition: none !important;
}

#app_wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

@layer base {
	main {
		/* min-width: 64rem; */
		@apply px-4 py-1;
		background-color: hsl(var(--bg-primary));
		width: 64rem;
		max-width: 96vw;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	:focus-visible {
		/* outline-color: hsl(var(--gray-1000)); */
		outline-style: auto;
		outline-width: 1px;
	}
}

@layer utilities {
	/* .border-sm {
		border-width: 1.5px;
	} */
}
