@import "tailwindcss";
.dialog__content {
	animation: scaleFadeOut 200ms ease;
}
.dialog__content[data-expanded] {
	animation: scaleFadeIn 200ms ease;
}

.dialog__content.dialog__top {
	animation: fadeSwipeDownOut 200ms ease;
}
.dialog__content.dialog__top[data-expanded] {
	animation: fadeSwipeDownIn 200ms ease;
}

.dialog__content.dialog__bottom {
	animation: fadeSwipeUpOut 200ms ease;
}
.dialog__content.dialog__bottom[data-expanded] {
	animation: fadeSwipeUpIn 200ms ease;
}

.dialog__overlay {
	animation: fadeOut 200ms ease;
}
.dialog__overlay[data-expanded] {
	animation: fadeIn 200ms ease;
}

.dialog__blur.dialog__overlay {
    backdrop-filter: blur(0px);
	animation: blurOut 200ms ease;
}
.dialog__blur.dialog__overlay[data-expanded] {
    backdrop-filter: blur(10px);
	animation: blurIn 200ms ease;
}

