/* Colors */
/* 狐狸写的 */
:root {
	--white-100: 0 0% 98%;

	--gray-100: 0 0% 95%;
	--gray-200: 0 0% 92%;
	--gray-300: 0 0% 89%;
	--gray-400: 0 0% 85%;
	--gray-500: 0 0% 79%;
	--gray-600: 0 0% 66%;
	--gray-700: 0 0% 56%;
	--gray-800: 0 0% 49%;
	--gray-900: 0 0% 40%;
	--gray-1000: 0 0% 15%;

	--red-100: 358 100% 97%;
	--red-200: 358 100% 95%;
	--red-300: 358 100% 93%;
	--red-400: 358 100% 89%;
	--red-500: 358 89% 84%;
	--red-600: 357 88% 71%;
	--red-700: 355 78% 60%;
	--red-800: 354 69% 52%;
	--red-900: 354 70% 43%;
	--red-1000: 353 53% 15%;

	--orange-100: 40 100% 94%;
	--orange-200: 38 100% 92%;
	--orange-300: 36 100% 90%;
	--orange-400: 36 100% 85%;
	--orange-500: 34 100% 79%;
	--orange-600: 34 96% 66%;
	--orange-700: 34 80% 54%;
	--orange-800: 32 88% 45%;
	--orange-900: 28 82% 41%;
	--orange-1000: 26 74% 16%;

	--green-100: 120 50% 95%;
	--green-200: 120 50% 93%;
	--green-300: 120 55% 89%;
	--green-400: 120 55% 83%;
	--green-500: 125 55% 75%;
	--green-600: 125 50% 63%;
	--green-700: 130 46% 49%;
	--green-800: 130 48% 42%;
	--green-900: 130 40% 35%;
	--green-1000: 130 40% 15%;

	--cyan-100: 188 90% 95%;
	--cyan-200: 188 90% 93%;
	--cyan-300: 188 80% 90%;
	--cyan-400: 188 76% 85%;
	--cyan-500: 190 69% 73%;
	--cyan-600: 190 68% 62%;
	--cyan-700: 190 80% 45%;
	--cyan-800: 190 80% 37%;
	--cyan-900: 190 80% 30%;
	--cyan-1000: 190 85% 13%;

	--blue-100: 212 100% 97%;
	--blue-200: 212 100% 95%;
	--blue-300: 212 100% 92%;
	--blue-400: 212 100% 87%;
	--blue-500: 212 100% 81%;
	--blue-600: 214 100% 70%;
	--blue-700: 216 90% 60%;
	--blue-800: 218 80% 53%;
	--blue-900: 220 75% 42%;
	--blue-1000: 220 70% 21%;

	--purple-100: 265 100% 97%;
	--purple-200: 265 100% 96%;
	--purple-300: 265 100% 94%;
	--purple-400: 265 94% 90%;
	--purple-500: 265 93% 87%;
	--purple-600: 265 88% 75%;
	--purple-700: 265 86% 67%;
	--purple-800: 265 77% 56%;
	--purple-900: 265 73% 43%;
	--purple-1000: 265 65% 21%;

	--pink-100: 336 100% 97%;
	--pink-200: 336 100% 95%;
	--pink-300: 338 90% 93%;
	--pink-400: 339 90% 89%;
	--pink-500: 339 88% 84%;
	--pink-600: 339 78% 67%;
	--pink-700: 339 70% 60%;
	--pink-800: 339 58% 52%;
	--pink-900: 339 60% 40%;
	--pink-1000: 339 69% 15%;

	/* --grape-100: 280 67% 96%;
	--grape-200: 287 77% 92%;
	--grape-300: 288 86% 86%;
	--grape-400: 289 85% 78%;
	--grape-500: 288 83% 71%;
	--grape-600: 288 75% 64%;
	--grape-700: 288 67% 58%;
	--grape-800: 288 56% 52%;
	--grape-900: 288 54% 46%;
	--grape-1000: 288 54% 40%; */

	/* --violet-100: 252 100% 97%;
	--violet-200: 257 100% 93%;
	--violet-300: 256 100% 87%;
	--violet-400: 255 94% 79%;
	--violet-500: 255 93% 72%;
	--violet-600: 255 91% 67%;
	--violet-700: 255 86% 63%;
	--violet-800: 255 78% 60%;
	--violet-900: 255 67% 55%;
	--violet-1000: 255 53% 50%; */

	/* --indigo-100: 223 100% 96%;
	--indigo-200: 225 100% 93%;
	--indigo-300: 228 100% 86%;
	--indigo-400: 228 100% 78%;
	--indigo-500: 228 96% 72%;
	--indigo-600: 228 94% 67%;
	--indigo-700: 228 89% 63%;
	--indigo-800: 228 81% 59%;
	--indigo-900: 228 69% 55%;
	--indigo-1000: 230 57% 50%; */

	/* --blue-100: 205 100% 95%;
	--blue-200: 206 100% 91%;
	--blue-300: 206 100% 82%;
	--blue-400: 206 96% 72%;
	--blue-500: 207 91% 64%;
	--blue-600: 207 86% 57%;
	--blue-700: 208 80% 52%;
	--blue-800: 208 77% 47%;
	--blue-900: 209 77% 43%;
	--blue-1000: 209 75% 38%; */

	/* --teal-100: 161 79% 95%;
	--teal-200: 160 85% 87%;
	--teal-300: 162 78% 77%;
	--teal-400: 162 72% 65%;
	--teal-500: 162 68% 54%;
	--teal-600: 162 73% 46%;
	--teal-700: 162 82% 40%;
	--teal-800: 162 87% 35%;
	--teal-900: 162 88% 30%;
	--teal-1000: 162 88% 26%; */

	/* --lime-100: 79 81% 94%;
	--lime-200: 80 83% 88%;
	--lime-300: 81 81% 80%;
	--lime-400: 82 75% 69%;
	--lime-500: 83 73% 59%;
	--lime-600: 84 69% 51%;
	--lime-700: 85 74% 45%;
	--lime-800: 85 79% 40%;
	--lime-900: 86 84% 36%;
	--lime-1000: 85 84% 32%; */

	/* --yellow-100: 50 100% 93%;
	--yellow-200: 49 100% 87%;
	--yellow-300: 49 100% 80%;
	--yellow-400: 48 100% 70%;
	--yellow-500: 47 100% 62%;
	--yellow-600: 45 97% 54%;
	--yellow-700: 42 96% 50%;
	--yellow-800: 39 100% 48%;
	--yellow-900: 35 100% 47%;
	--yellow-1000: 31 100% 45%; */
}
