@font-face {
	font-family: "Geist";
	font-weight: 100 900;
	src:
		local("Geist"),
		url("./GeistVF.woff2") format("woff2"),
		url("./GeistVF.woff") format("woff"),
		url("./GeistVF.ttf") format("truetype");
	font-display: swap;
}
