@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-200/75;
	white-space: break-spaces;
	/* min-height: 100vh; */
	/* height: minmax(100vh); */
}

main {
	/* min-width: 64rem; */
	@apply px-4 py-1;
	background-color: white ;
	width: 64rem;
	max-width: 96vw;
}

:focus {
	outline: none;
}

:focus-visible {
	outline: 0.1rem solid;
	border-radius: 0.1rem;
}

#app {
	/* @apply h-full ; */
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

.blue_link {
	@apply text-blue-600/90 hover:text-blue-500/80;
}

.border-sm {
	border-width: 1.5px;
}

.gray-link {
	@apply text-gray-600 hover:text-gray-600/80;
}

.gray-link-sm {
	@apply text-sm text-gray-600 hover:text-gray-600/80;
}
