@import "./style/style.css";
@import "tailwindcss";

@custom-variant dark (&:where([data-mode=dark] *));

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-sans:
    "Geist", "ui-sans-serif", "system-ui", "sans-serif", '"Apple Color Emoji"',
    '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';
  --font-mono:
    "Cascadia Code", "ui-monospace", "Menlo", "Monaco", "Consolas", "monospace";
}

html {
  color: hsl(var(--text-color-primary));
  background-color: hsl(var(--background-color-primary));
  white-space: break-spaces;
  font-family:
    Geist,
    -apple-system,
    "Noto Sans SC",
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Segoe UI",
    system-ui,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html[data-mode="dark"] {
  color: white;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

select {
  &:disabled {
    background-color: hsl(var(--background-color-secondary));
  }
}
