@layer components {
	/* Buttons */
	.button_base {
		@apply rounded font-medium transition-all;
	}

	.button {
		@apply button_base
		text-gray-1000
		bg-main
		hover:bg-gray-200 dark:hover:bg-gray-200
		active:bg-gray-300 dark:active:bg-gray-300
		disabled:!bg-gray-200;
	}

	.border_button {
		@apply button;
		box-shadow: var(--shadow-2);
	}

	.highlight_button {
		@apply button_base
		bg-gray-1000
		hover:bg-gray-1000/85 active:bg-gray-1000/80
		dark:hover:bg-gray-1000/90 dark:active:bg-gray-1000/80;
		color: hsl(var(--bg-main));
		box-shadow: var(--shadow-2);
	}

	.warning_button {
		@apply button_base
		text-white
		bg-red-800
		hover:bg-red-700 active:bg-red-600;
		box-shadow: var(--shadow-2);
	}
}
